body {
	background-color: rgb(33, 12, 221);
}

h1 {
	color: rgb(231, 237, 231);
	font-size: 30px;
}

h2 {
	color: rgb(130, 74, 74);
	font-size: 40px;
}

.list {
	list-style: none;
	padding-left: 100px;
	font-size: 32px;
	color: beige;
}

.list_item {
	background-color: pink;
}